header h1 {
    color: red;
}
*
 * {
    outline: solid 1px hotpink;
  }
  */
/
*
  header {
      width: 50%;
  }
  */
 div { float: left; }
   *{
        box-sizing: border-box; 
       
   }
  div {
  border: 1px solid #949599;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 300px;
}

img {
    float: left;
    margin-right: 20px;