header h1 {
    color: red;
     background-color: rgb(200.200.200);
}
*
/* *{
    outline: solid 1px hotpink;
  }
  */
  header {
      width: 50%;
  }
  
/* div {
      float: left;
       } */
 *{
        box-sizing: border-box; 
       
   }
  div {
  border: 1px solid #949599;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 200px;
   background-color: rgb(200.200.200);
}

img {
    float: left;
    margin-right: 20px;
}
p {
    clear:left;
}
#box1 {
    border: 1px solid red;
    position: relative;
     background-color: rgb(000.100.200);
}
#box2 {
    border: 1px solid orange;
    position: relative;
    left: 20px;
    top: 30px;
}
body {
    background-color: rgb(#ee3e80);
}
